/* center */
.meditate {
  position: relative;
  width: max-content;
  margin: 0 auto;
}

/* body */
.icon {
  display: block;
  width: 300px;
  height: auto;
}

.flame {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: auto;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.flame.show {
  opacity: 1;
  transform: translate(-50%, -60%);
}
#counter {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: rgba(26, 180, 222, 0.6);
  border-radius: 8px;
  padding: 4px 12px;
  display: inline-block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
